.container-listadoPersonas{
    margin: 0 3rem;
    line-height: 1rem;
    
}
.container-Persona{
   display: flex;
   height: auto;
   box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,.15);
   padding: 1rem;
   margin-bottom: 2.5rem;

}
.logo-listadoPersonas{
    height: 100px;
}
.container-data-listadoPersonas{
    font-size: 1rem;
}